.GetCharacters {
    color: white;
    text-align: center;
}

.GetCharacters h1 {
    margin: 2rem 0;
}

.CharactersList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


