* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #111111;
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&q=80&cs=tinysrgb&fm=jpg&crop=entropy");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
}
